/* === TIPOGRAFÍA GENERAL === */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --bg: #fcfffe;
  --body: #222;
  --text:#111;
  --primary: #00c49a;
  --secondary: #007c6d;

  --dark-mode-width: 50px;
  --dark-mode-height: 24px;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color:  #222;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.active {
  --bg: #121212;
  --body: #e0e0e0;
  --text: #f5f5f5;
  --primary: #00a98f;
  --secondary: #00967f;
}

/* === MENÚ PRINCIPAL === */
header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  filter: drop-shadow(10px);
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color:  var(--primary);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover{
  transform: scale(1.1);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav a {
  font-size: 1.8rem;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
  color:  var(--primary);
}

nav a:hover,
nav a:active {
  color:  var(--secondary);
  border-bottom: 3px solid var(--secondary);
}

body.active{
  background-color: var(--bg);
}

.dark-mode{
  width: var(--dark-mode-width);
  height: var(--dark-mode-height);
  display: flex;
  align-items: center;
  border-radius: 999px;
  background-color: #DFDEDE;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

body.active .dark-mode{
    background-color: white;
}
.dark-mode .circle{
    width: 40%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    transform: translateX(10%);
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease,background-colo 0.5s ease;
}
body.active .circle{
    transform: translateX(140%);
    background-color: #2A2A2C;
}
.dark-mode .circle ion-icon{
    width: 70%;
    height: 70%;
    position: absolute;
    transition: transform 0.5s ease;
}
.dark-mode .circle .moon{
    color: white;
    transform: translateY(-120%);
}
body.active .circle .moon{
    transform: translateX(0);
}
.dark-mode .circle .sun{
    color: #FCDE5B;
}
body.active .circle .sun{
    transform: translateY(120%);
}

/* === idioma === */
.language-selector {
  display: flex;
  gap: 10px;
  align-items: center;
}

.language-selector button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 3px;
  transition: transform 0.3s ease;
}

.language-selector button:hover {
  transform: scale(1.1);
  background-color: var(--bg);
}

.language-selector img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.language-selector button.active {
  display: none; /* Oculta la bandera del idioma activo */
}

@media(max-width:995px) {
  nav {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: var(--bg);
    border-top: 0.1rem solid var(--body);  
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover, 
  nav a:active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0,5 solid var(--primary);
  }
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: var(--bg);
}

.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--text);
}

.resaltado {
  color: var(--primary)
}

.home-content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--text);
}

.home-content p {
  font-size: 2rem;
  text-align: justify;
  color: var(--text);
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 15px var(--primary);
  cursor: pointer;
  transition: 0.2s linear;
  background-color: var(--text);
}

.home-img img:hover{
  font-size: 1.8rem;
  font-weight: 500;
}

.social-icon ion-icon {
  color: var(--text);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid var(--primary);
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem;
}

.social-icon ion-icon:hover {
  color: var(--bg);
  transform: scale(1.3) translateY(-5px);
  background-color: var(--primary);
  box-shadow: 0 0 25px var(--primary);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--bg);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--primary);
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid var(--primary);
  transition: 0.3 ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale3d(1.03);
  background-color: var(--primary);
  color: var(--bg);
  box-shadow: 0 0 25px var(--primary);
}

.typing-text {
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.typing-text span {
  color: var(--primary);
  border-right: 2px solid var(--primary);
  animation: blink 0.7s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}

@media (max-width:995px) {
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }

  .home .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
}